body {
    margin: 0;
}

.board {
    display: grid;
    height: 100vh;
    width: 100vh;
}

.slot {
    background-color: pink;
    display: inline;
    cursor: pointer;
}

.slot img {
    width: 100%; /* should be min (parent width, parent height). this assumes cols > rows */
} 